/*les css présets sur toutes les pages*/
.main {
    background-color: var(--f);
    margin: 0;
    padding: 0;
    position: relative;
    top: 100%;
    bottom: 100%;
}

button{
    background: none;
    border: none;
    position: center;
}

.logo{ 
    position: relative;
    
}

.main__article{
    font-family: 'Roboto serif';
    font-size: large;
    font-weight: 500; 

}

.main__article__introduction{
    font-family: 'Iceland';
    font-size: larger;
    font-weight: 500;

}
