/*les css présets sur toutes les pages*/
main {
    background-color: var(--f);
    margin: 0;
    padding: 0;
       
}

button{
    background: none;
    border: none;
    position: center;
}

.logo{ 
    position: relative;
    
}

*main{
    font-family: 'Roboto serif', serif ;
    font-weight: 400;
    
}

main > .main__article__introduction {
    font-family: 'Iceland', sans-serif;
}