/*les css présets sur toutes les pages*/
body{background-color: var(--f);}
.body{

    background-color: var(--f);
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 0;
   }
.main {
    background-color: var(--f);
    margin: 0;
    padding: 0;
    position: relative;
    top: 100%;
    bottom: 100%;
    line-height: 1.5rem;
}

button{
    background: none;
    border: none;
    position: center;
}

.logo{ 
    position: relative;
    
}

.main__article{
    font-family: 'Roboto serif';
    font-size: larger;
    font-weight: 500; 
    margin: 10px;
    

}

.main__article__introduction{
    font-family: 'Iceland';
    font-size: larger;
    font-weight: 500;
    margin: 20px;
    

}



.main__titre{
    font-family: 'Iceland';
    font-weight: 600;
    font-size: xx-large;
    margin: 10px;
    padding: 10px;
   display: flex;
   text-align: center;
   justify-content: center;
}

.main__MaNa{
    background-color: var(--rose);
    margin: 0px;
    font-family: 'noto sans';
    font-size: larger;
}

.main__soustitre{
    font-family: 'News Cycle';
    margin: 10px;
    
    
}

.main__legend{
    font-family: 'News Cycle';
    font-size: smaller;
    display: flex;
    justify-content: center;
}

.main__soustitre--spécial{
    font-family: 'News Cycle';
    margin: 5px;
    text-transform: uppercase;


}



.main__frise--gauche{
    display: block;
    justify-content:left;

}
.main__frise--droit{
    display: block;
    justify-content: right;
}

.main__lienautrearticle{
    font-family: 'Iceland';
}

.main__citation{
    font-family: 'Roboto Serif';
    display: flex;
    text-align: center;
    justify-content: center;
}

.main__bouton{
    background-color: var(--rose);
    font-family: 'Noto Sans';
    font-weight: bolder;
    display: flex;
    justify-content: center;


}

.main__extrait  {
    font-family: 'News Cycle';
    margin: 20px;
    
} 

.main__contact{
    background-color: var(--bleu);
    margin: 20px;
    border-radius: 3%;
    position: relative;
    font-family: 'Noto Sans';
    font-size: small;
    margin: 10px;
    display: flex ;
    align-items: center;
    justify-content: space-between;
}


 .zone_ecriture{
        display: flex;
        align-items: center;
       }
    
   
.indication{
    color: white;
}



   .main__submit{
    background-color: var(--rose);
    font-family: 'News Cycle';
    font-size: large;
    display: flex;
    align-items: flex-end;
    justify-content: right;
   }

   .main__identitycard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
   }

   .main__conclusion{
    font-family: 'Roboto Serif';
    font-weight: bold;
   }

   .main__titre--chapot{
    font-family: 'Icland';
    font-size: medium;
   }

  

   .main__galerie{
    width: 200px;
    padding: 2px;
    border: 5px solid var(--bleu);
    margin-left: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    font-size: large;
    font-family: 'News Cycle';
    font-style: italic;
    
   }
   



   /*timeline*/
   
   .timeline2 {
                margin: 0px;
				position: relative;
				scroll-behavior:  smooth ;
                flex: 1 0 70%;
                max-width: 70%;
                
				 
			}
			.timeline2   *, .timeline2   *::before, .timeline2   *::after { 
				font: 'Roboto';
				color: #fff;
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			
			 
			.timeline2 ul {
			  background: var(--f);
			  /* padding: 50px 0; */
			}

			.timeline2 ul li {
			  list-style-type: none;
			  position: relative;
			      width: 2px;/* width: 6px; */
			  margin: 0 auto;
				padding-top: 10px;/* 50px; */
				padding-bottom: 10px;/* padding-bottom: 20px; = center padding-bottom: 10px; = center */
			 background: var(--rose); /* background: black;  */
			  
				border-left: 4px double var(--rose);
				
			}

			 
			.timeline2 ul li::after {
			  content: '';
			  position: absolute;
			  left: 50%;
			  top: 30px; /* bottom: 0;  bottom: 50%;=center top: 30px;=top  */ 
			  transform: translateX(-55%);/* transform: translateX(-50%); */
			  -webkit-transform: translateX(-55%);
			  width: 30px;
			  height: 30px;
			  border-radius: 50%;
			  background: inherit;
			  border: 2px solid black;
			}

			.timeline2 ul li div {
			  position: relative;
			  bottom: 0;
			  width: 400px;
			  padding: 15px;
			  background: var(--bleu);
			  
			}

			.timeline2 ul li div::before {
			  content: '';
			  position: absolute;
			  top: 20px; /* bottom: 7px; bottom: 50%;=center top: 20px;=top */
			  
			  width: 0;
			  height: 0;
			  border-style: solid;
			}

			.timeline2 ul li:nth-child(odd) div {
			  left: 45px;
			}

			.timeline2 ul li:nth-child(even) div {
			  left: -439px;
			}

			.timeline2 ul li:nth-child(even) div::before {
			  right: -15px;
			  	border-width: 16px 0 16px 16px; /* border-width: 8px 0 8px 16px; */
			  border-color: transparent transparent transparent var(--bleu);
			}
			
			
			.timeline2 ul li:nth-child(odd) .time {
				position: absolute;
				top: 20px;
				left: -100px;
				width: 90px;
			}
			.timeline2 ul li:nth-child(even) .time {
				position: absolute;
				top: 20px;
				right: -120px;
				width: 90px;
			}
			
			
			.time {
			 display: flex;
             flex-direction: column;
             vertical-align: middle;
              
			}
            .main__frise--texte{
                margin: 5px;
                
               

               
            }

