header {
    background-color: var(--fond);
    position: fixed;
    width: 100%;
    height: 95px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.header__icon {
    width: 45px;
    height: 42px;  
}

.header__menu {
    margin: 0;
    right: -129px;
    top: 0px;
    position: relative;
    width: 45px;
    height: 42px;
    border: none;
    background: var(--fond);
}

.header__menusandwitch {
    
    
}