
.menu{
    background-color: var(--f);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100vw);
    transition: all 1s;
    z-index: 1;

}


.menu-open .menu {
    transform: translateX(0vw);
    color: var(--f);
    

}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.menu li{
    margin-bottom: 30px;
    color: white;
    list-style: none;
}

.menu a {color: white}

.menu__element{
    background-color: var(--bleu);
    font-family: 'Iceland';
    color: white;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.menu__autreprojet{
    background-color: var(--rose);
    font-family: 'Iceland';
    align-items: center;
    justify-content: center;
    color: black;
    margin: 60px;
}

.menu-open{
    overflow: hidden;
}
